# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
*.iml

# Environment variables
.env
.venv

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Other files
requirements.in